<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
	<div class="container"> 
		<div class="sidebar">
		</div>
		<script src="https://utteranc.es/client.js"
			repo="Dormouse0224/dormouse0224.github.io"
			issue-term="pathname"
			label="✨💬Comment✨"
			theme="github-dark"
			crossorigin="anonymous"
			async>
		</script>
	</div>
  </body>
</html>